<EventsAutoConfig>
  <chbAutoAdvise>True</chbAutoAdvise>
  <chbDocFrameEvents>True</chbDocFrameEvents>
  <chbSpecObjEvents>True</chbSpecObjEvents>
  <chbSpecDocEvents>True</chbSpecDocEvents>
  <chb3DDocEvents>True</chb3DDocEvents>
  <chb2DDocEvents>True</chb2DDocEvents>
  <chbSpecEvents>True</chbSpecEvents>
  <chb3DObjEvents>True</chb3DObjEvents>
  <chbStampEvents>True</chbStampEvents>
  <chbSelectEvents>True</chbSelectEvents>
  <chb2DObjEvents>True</chb2DObjEvents>
  <chbDocEvents>True</chbDocEvents>
  <chbAppEvents>True</chbAppEvents>
</EventsAutoConfig>